body, html {
height: 100%;
font-family: 'Varela Round', sans-serif;
position: relative;
font-size: 42px;
}

button {
border-radius: 10px;
font-family: 'Pacifico', cursive;
margin:  0 15px;
padding: 10px 20px;
}

a {
text-decoration-line: none;
padding: 9px 15px; 
}

.navbar {
height: 100px;
background-color: rgb(228, 200, 163);
display: flex;
justify-content: space-between;
align-items: center;
font-size: .25rem;
}

.buttons {
font-size: .31rem;
color: rgba(63, 157, 132);
/* background-color: salmon; */
}

.user-info {
display: flex;
justify-content: space-around;
margin-right: 10px;
}

.user-info p {
    color: whitesmoke;
text-align: center;
padding: 15px 10px 0 10px;
margin-right: 10px;
font-size: .35rem;
border: 1px salmon solid;
}

main {
/* position: absolute;
top: 300px; */
color: whitesmoke;
/* width: max-content;
height: min-content; */
padding: 40px 60px 40px 60px;
background-color: rgba(63, 157, 132, 0.3);
/* margin: 1em; */
text-align: center;
    
}   

.centered {
position: fixed;
top: 50%;
left: 50%;
/* bring your own prefixes */
transform: translate(-50%, -50%);
}

main h1 {
font-size: 1.4rem;
}

main h2 {
font-size: .75rem;
padding: 5% 5%;
}

main button a {
color: rgba(63, 157, 132);
font-style: italic;
font-size: .6rem;
}
main button:hover {
text-decoration-line: none;
}

main button a:hover {
color:  rgb(38, 98, 82);
font-weight: 700;
}

footer {
/* background: rgb(255, 255, 255); */
position: absolute;
top: 90%;
left: 60%;
/* margin: 0 10%; */
text-align: right;
/* font-style: oblique; */
/* font-weight: bold; */
}

.footer {
color: white;
font-size: .6rem;
}

.bg {
/* The image used */
background-image: url("splash.jpg");

/* Full height */
height: 100%; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
