<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welceom to example.com, <%= @user.name %></h1>
    <p>
    You have successfully signed up to example.com,
    your username is: <%= @user.lgin %>. <br /> </p>
  </body>
</html>
